name: Test Demo With Generated Pkgs

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:

  test:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-24.04
        llvm: [18]
        llgo: [v0.10.0]
        go: [1.23]
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
    - name: Setup llcppg environment
      uses: ./.github/actions/setup-llcppg
      with:
        go: ${{ matrix.go }}
        llvm: ${{ matrix.llvm }}
        llgo: ${{ matrix.llgo }}

    - name: Test demos with generated pkgs
      if: startsWith(matrix.os, 'macos')
      run: |
        # install demo's lib
        brew install lua zlib isl libgpg-error raylib z3 sqlite3 gmp libxml2 libxslt

        export PKG_CONFIG_PATH="/opt/homebrew/opt/zlib/lib/pkgconfig"
        export PKG_CONFIG_PATH="/opt/homebrew/opt/sqlite/lib/pkgconfig:$PKG_CONFIG_PATH"
        export PKG_CONFIG_PATH="/opt/homebrew/opt/libxml2/lib/pkgconfig:$PKG_CONFIG_PATH"
        export PKG_CONFIG_PATH="/opt/homebrew/opt/libxslt/lib/pkgconfig:$PKG_CONFIG_PATH"
        pkg-config --cflags --libs sqlite3
        pkg-config --cflags --libs libxslt

        llcppgtest -demos ./_llcppgtest

    - name: Test demos with generated pkgs
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        # install demo's lib
        sudo apt install liblua5.4-dev libsqlite3-dev libgmp-dev libgpg-error-dev zlib1g-dev libisl-dev libz3-dev -y
        llcppgtest -demo ./_llcppgtest/cjson -conf conf/linux
        llcppgtest -demo ./_llcppgtest/gmp -conf conf/linux
        llcppgtest -demo ./_llcppgtest/gpgerror -conf conf/linux
        llcppgtest -demo ./_llcppgtest/isl
        llcppgtest -demo ./_llcppgtest/lua -conf conf/linux
        llcppgtest -demo ./_llcppgtest/sqlite -conf conf/linux
        llcppgtest -demo ./_llcppgtest/z3 -conf conf/linux
        llcppgtest -demo ./_llcppgtest/zlib -conf conf/linux


